<nav class="ui red inverted menu">
    <header class="header item"><a href="/home"> Islands </a></header>
    <div class="right menu">
        <a id="adminDashboard"   class= "item" href="/adminDashboard"><i class="user icon"></i> Admin Dashboard </a>
        <a id="explore"   class= "item" href="/explore"><i class="globe icon"></i> Explore </a>
        <a id="logout" class= "item" href="/logout"><i class="x icon icon"></i> Logout </a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>