<div class="ui stacked segment">
    <form action="/add" method="POST">
        <div class="ui ten wide column fluid form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name"/>
            </div>
            <h4 class="ui horizontal divider header">
                <i class="file alternate outline icon"></i>
                Description
            </h4>
            <div class="field">
                <label>Description</label>
                <input type="text" name="description" placeholder="Description"/>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="globe icon"></i>
            Location
        </h4>
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="two wide column">Category</td>
                <td>
                    <select class="ui dropdown" name="category">
                        <option value="">Select category</option>
                        <option value="North East">North-East</option>
                        <option value="East Coast">East Coast</option>
                        <option value="South Coast">South Coast</option>
                        <option value="Mid West">Mid-West</option>
                        <option value="North West">North-West</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td><div class="ui input"><input type="text" name="latitude" placeholder="55.55555"></div></td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td><div class="ui input"><input type="text" name="longitude" placeholder="44.44444"></div></td>
            </tr>
            </tbody>
        </table>
        <h4 class="ui horizontal divider header">
            <i class="file image outline icon"></i>
            Gallery
        </h4>
        <button class="ui button">Add new picture</button>
        <div class="ui divider"></div>
        <button class="ui submit button" type="submit">Save changes</button>
    </form>
</div>