<button class="ui button"><i class="pencil alternate icon"></i><a href="/editIsland/{{island.id}}">Edit</a></button>
<button class="ui button"><i class="trash icon"></i><a href="/removeIsland/{{island.id}}">Remove</a></button>
<div class="ui divider"></div>