{{>startmenu}}

<section class="ui teal inverted raised segment">
    <div class="ui center aligned grid">
        <!--<aside class="ui eight wide column"><img src="images/island.gif" class="ui medium image" /></aside>-->
        <div class="ui eight wide column fluid form">
            <div class="ui black stacked segment">
                <form action="/login" method="POST">
                    <h3 class="ui header">Log-in</h3>
                    <div class="field"><label>Email</label> <input placeholder="Email" type="text" name="email" /></div>
                    <div class="field"><label>Password</label> <input type="password" name="password" /></div>
                    <button class="ui blue submit button">Login</button>
                    {{>error}}
                    <h4 class="ui horizontal divider header"> OR </h4>
                    <div>
                        <a href="/foursquarelogin"><img src="images/foursquare.png"/></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>