{{>startmenu}}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/island.gif" class="ui medium image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">Explore Irish Islands!</header>
            <p>Log in to add, edit or remove islands!</p>
        </article>
    </div>
    <div>
        {{>poi-list}}
    </div>
</section>